@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<style>
    .about-us p {line-height:24px; padding-top:5px; padding-bottom:10px;}
    .about-us h3 {color:#008c99; padding-top:30px;}
    .about-us hr {border-color:#d8d8d8;}
    .about-us h4 {padding:16px 0px;}
    .about-us ul, .about-us ol {padding-bottom:15px; padding-left:20px;}
    .about-us ul li, .about-us ol li {margin-bottom:10px;}
    .about-us img {border-radius:6px; border:3px solid rgba(0,0,0,0.1)}
</style>
@*<section class="register-body" style="background:#f8f8f8; padding-bottom:50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-us">
                    <h3 class="text-center">School Man Makes Education Smarter And Comprehensive</h3>
                    <hr>

                    <div class="row">
                        <div class="col-md-8">
                            <p>SchoolMan is a complete management application for school administration, teachers and parents, it provides a web as well as mobile application which can be downloaded from Google Play store. The mobile application will be customized to the particular school with school name. SchoolMan handles all your school activities by integrating the functionalities of school administration, teachers and communication with parents. It is also associated with a real time GPS tracking system for school bus which ensures safety and timely transit of students.</p>

                            <h4>Do you have issue with?</h4>
                            <ul>
                                <li>Collecting fee payments on time – Common  as well as special fees</li>
                                <li>Managing various financial reports</li>
                                <li>Generating essential administrative reports</li>
                                <li>Tracking  the attendance of the students with notifications as per CBSE</li>
                                <li>Facilitating PTA meeting with documents of interest</li>
                                <li>Reaching out parents individually or collectively</li>
                                <li>Monitoring the timetable and the teachers associated to each class</li>
                                <li>Staff allocation to classes to manage additional periods</li>
                                <li>Assigning staff for administrative work</li>
                                <li>IT overheads like computer labs maintenance, anti-virus, software updates</li>
                                <li>Tracking the school buses/vans</li>
                            </ul>

                            <h4>Why SchoolMan?</h4>
                            <ul>
                                <li>Online fee collection on time</li>
                                <li>Communication to parents using mobile notifications, SMS and email</li>
                                <li>School bus GPS tracking</li>
                                <li>Online availability of progress report, marks list, timesheet</li>
                                <li>Attendance management of students by automating  it</li>
                                <li>Generating attendance reports of the students</li>
                                <li>Staff management using biometric system</li>
                                <li>Staff allocation to specific class and period</li>
                                <li>Generating financial report and administrative reports</li>
                                <li>No more manual records or calculations on sheets of paper.</li>
                            </ul>

                            <h4>Features of SchoolMan</h4>
                            <p>School Man includes online website and mobile app (customized for the school). School will have separate admin side, from where they can enter details of student, teachers, staff etc. Parents and teachers can download mobile app from play store. </p>
                            <p>Parent's version of the app includes communication with teachers, notification from school, GPS tracking, attendance etc. Teacher's version includes attendance, message for individual parent/ bulk message. Teachers can also send photos of progress card/ mark sheet as attachment.</p>
                            <p>School can also send notifications/SMS to parents without smartphone. SMS includes attendance message, weekly homework, fees notification etc.</p>

                            <h4>SchoolMan assists the school with:-</h4>
                            <ol>
                                <li>Documenting all the student’s details</li>
                                <li>Document progress reports and mark list and attendance of the students</li>
                                <li>Adding fee structure of different class enabling direct Fees Collection and Management.</li>
                                <li>Time table of different classes and update them as and when required</li>
                                <li>Staff allocation to different classes and managing extra/free periods</li>
                                <li>Communicate with parents via sms/alerts/email</li>
                                <li>Adding staff details  for automation</li>
                                <li>Collects bio metric attendance of staff and generate reports on a specific interval </li>
                                <li>Solves Accounting problems for schools by managing the fees and other financial reports</li>
                                <li>Track the school buses using a GPS system </li>
                            </ol>

                            <p>Teachers can record the attendance of students and communicate with the parents individually or send a common message on a bulk manner.</p>

                            <p>Parents can download the app from Google play store.</p>
                            <p>Parents can:-</p>
                            <ol>
                                <li>Pay the fees online without hassles</li>
                                <li>See the payment history of the fees so as to keep track of fee payments</li>
                                <li>Receive  gentle reminders on fees due</li>
                                <li>Receive notifications/SMS and emails from teachers</li>
                                <li>Receive message on special events and change in time table/schedule</li>
                                <li>Receive the attendance report of their ward</li>
                                <li>Receive mark list and progress report of the child</li>
                                <li>Obtain the time of boarding and the time their kid reach school and trip back to home on real time.</li>
                            </ol>

                            <h4>Bus Tracking System</h4>
                            <ol>
                                <li>A real time GPS tracking system -this ensures safety and timely transit of students.</li>
                                <li>Arrival and departure timing of buses at each point will be notified to the parents.</li>
                                <li>Avoid from long-time waits at bus stops.</li>
                                <li>The system of bus route optimization advantages in boosting the efficiency of school transportation</li>
                                <li>This would also help in reducing fuel consumption and thereby contributing towards a greener environment.</li>
                            </ol>

                        </div>

                        <div class="col-md-4">
                            <img class="img-responsive" src="http://greenville.ancorathemes.com/wp-content/uploads/2017/03/image-35-740x400.jpg" />
                            <div class="pad-btn"></div>
                            <img class="img-responsive" src="http://greenville.ancorathemes.com/wp-content/uploads/2017/03/image-45-538x400.jpg" />

                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section>*@
<!--banner start-->
<section class="banner_abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bnr">
                    <h1 class="header-main-h1 head_main_cap">ABOUT US</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   banner end   -->
<!-- MAIN CONTENT START    -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-us">
                    <h3 class="text-center abt_header">School Man Makes Education Smarter And Comprehensive</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <p>SchoolMan is a complete management application for school administration, teachers and parents, it provides a web as well as mobile application which can be downloaded from Google Play store. The mobile application will be customized to the particular school with school name. SchoolMan handles all your school activities by integrating the functionalities of school administration, teachers and communication with parents. It is also associated with a real time GPS tracking system for school bus which ensures safety and timely transit of students.</p>

                            <h4>Do you have<span> issue with?</span></h4>
                            <ul>
                                <li><span><i class="fas fa-check"></i></span>Collecting fee payments on time – Common  as well as special fees</li>
                                <li><span><i class="fas fa-check"></i></span>Managing various financial reports</li>
                                <li><span><i class="fas fa-check"></i></span>Generating essential administrative reports</li>
                                <li><span><i class="fas fa-check"></i></span>Tracking  the attendance of the students with notifications as per CBSE</li>
                                <li><span><i class="fas fa-check"></i></span>Facilitating PTA meeting with documents of interest</li>
                                <li><span><i class="fas fa-check"></i></span>Reaching out parents individually or collectively</li>
                                <li><span><i class="fas fa-check"></i></span>Monitoring the timetable and the teachers associated to each class</li>
                                <li><span><i class="fas fa-check"></i></span>Staff allocation to classes to manage additional periods</li>
                                <li><span><i class="fas fa-check"></i></span>Assigning staff for administrative work</li>
                                <li><span><i class="fas fa-check"></i></span>IT overheads like computer labs maintenance, anti-virus, software updates</li>
                                <li><span><i class="fas fa-check"></i></span>Tracking the school buses/vans</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="img_side">
                                <img class="img-responsive" src="~/Content/images/portfolio3.jpg">

                                <img class="img-responsive" src="~/Content/images/portfolio7.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cust_img_side">
                                <img class="img-responsive" src="~/Content/images/white_side.png">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h4>Why<span> SchoolMan?</span></h4>
                            <ul>
                                <li><span><i class="fas fa-check"></i></span>Online fee collection on time</li>
                                <li><span><i class="fas fa-check"></i></span>Communication to parents using mobile notifications, SMS and email</li>
                                <li><span><i class="fas fa-check"></i></span>School bus GPS tracking</li>
                                <li><span><i class="fas fa-check"></i></span>Online availability of progress report, marks list, timesheet</li>
                                <li><span><i class="fas fa-check"></i></span>Attendance management of students by automating  it</li>
                                <li><span><i class="fas fa-check"></i></span>Generating attendance reports of the students</li>
                                <li><span><i class="fas fa-check"></i></span>Staff management using biometric system</li>
                                <li><span><i class="fas fa-check"></i></span>Staff allocation to specific class and period</li>
                                <li><span><i class="fas fa-check"></i></span>Generating financial report and administrative reports</li>
                                <li><span><i class="fas fa-check"></i></span>No more manual records or calculations on sheets of paper.</li>
                                <li><span><i class="fas fa-check"></i></span>Library management system.</li>
                                <li><span><i class="fas fa-check"></i></span>Inventory management.</li>
                                <li><span><i class="fas fa-check"></i></span>Store management with pending stock reports.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--  MAIN CONTENT END    -->