@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<section class="terms-ser login-body">
    <div class="container">
        <div class="termsBox">

            <h3>Disclaimer </h3>

            <p>The information contained in School Man is for general information purposes only. The information is provided by School Man and it endeavours to keep the information up-to-date and correct.</p>

            <p>School Man makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to School Man or the information, products, services, or related graphics contained on the School Man for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

            <p>In no event will School Man be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

            <p>Through School Man, you are able to link to other websites, which are not under its control. School Man has no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>

            <p>Every effort is made to keep the website up and running smoothly. However, School Man takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond its control.</p>

            <p>SchoolMan will be using Paymentgateway  only for these courses.S</p>

        </div>
    </div><!-- /container -->
</section>