
@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!--banner start-->
<section class="banner_abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bnr">
                    <h1 class="header-main-h1 head_main_cap">FEATURES OF SCHOOLMAN</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   banner end   -->
<!-- MAIN CONTENT START    -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-us">
                    <h4>Features <span>of SchoolMan</span></h4>
                    <p>School Man includes online website and mobile app (customized for the school). School will have separate admin side, from where they can enter details of student, teachers, staff etc. Parents and teachers can download mobile app from play store. </p>
                    <p>Parent's version of the app includes communication with teachers, notification from school, GPS tracking, attendance etc. Teacher's version includes attendance, message for individual parent/ bulk message. Teachers can also send photos of progress card/ mark sheet as attachment.</p>
                    <p>School can also send notifications/SMS to parents without smartphone. SMS includes attendance message, weekly homework, fees notification etc.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cust_img_side">
                                <img class="img-responsive" src="~/Content/images/teacher-student-01.png">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4>SchoolMan <span>assists the school with:-</span></h4>
                            <ol>
                                <li><span><i class="fas fa-check"></i></span>Documenting all the student’s details</li>
                                <li><span><i class="fas fa-check"></i></span>Document progress reports and mark list and attendance of the students</li>
                                <li><span><i class="fas fa-check"></i></span>Adding fee structure of different class enabling direct Fees Collection and Management.</li>
                                <li><span><i class="fas fa-check"></i></span>Time table of different classes and update them as and when required</li>
                                <li><span><i class="fas fa-check"></i></span>Staff allocation to different classes and managing extra/free periods</li>
                                <li><span><i class="fas fa-check"></i></span>Communicate with parents via sms/alerts/email</li>
                                <li><span><i class="fas fa-check"></i></span>Adding staff details  for automation</li>
                                <li><span><i class="fas fa-check"></i></span>Collects bio metric attendance of staff and generate reports on a specific interval </li>
                                <li><span><i class="fas fa-check"></i></span>Solves Accounting problems for schools by managing the fees and other financial reports</li>
                                <li><span><i class="fas fa-check"></i></span>Track the school buses using a GPS system </li>
                            </ol>
                        </div>
                    </div>
                    <p>Teachers can record the attendance of students and communicate with the parents individually or send a common message on a bulk manner.</p>

                    <p>Parents can download the app from Google play store.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cust_img_side img_side">
                                <img class="img-responsive" src="~/Content/images/mobile.png">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p>Parents can:-</p>
                            <ol>
                                <li> <span><i class="fas fa-check"></i></span>Pay the fees online without hassles</li>
                                <li><span><i class="fas fa-check"></i></span>See the payment history of the fees so as to keep track of fee payments</li>
                                <li><span><i class="fas fa-check"></i></span>Receive  gentle reminders on fees due</li>
                                <li><span><i class="fas fa-check"></i></span>Receive notifications/SMS and emails from teachers</li>
                                <li><span><i class="fas fa-check"></i></span>Receive message on special events and change in time table/schedule</li>
                                <li><span><i class="fas fa-check"></i></span>Receive the attendance report of their ward</li>
                                <li><span><i class="fas fa-check"></i></span>Receive mark list and progress report of the child</li>
                                <li><span><i class="fas fa-check"></i></span>Obtain the time of boarding and the time their kid reach school and trip back to home on real time.</li>
                                <h4>Bus Tracking<span> System</span></h4>

                                <li><span><i class="fas fa-check"></i></span>A real time GPS tracking system -this ensures safety and timely transit of students.</li>
                                <li><span><i class="fas fa-check"></i></span>Arrival and departure timing of buses at each point will be notified to the parents.</li>
                                <li><span><i class="fas fa-check"></i></span>Avoid from long-time waits at bus stops.</li>
                                <li><span><i class="fas fa-check"></i></span>The system of bus route optimization advantages in boosting the efficiency of school transportation</li>
                                <li><span><i class="fas fa-check"></i></span>This would also help in reducing fuel consumption and thereby contributing towards a greener environment.</li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--  MAIN CONTENT END    -->

