@model TrackTap.Models.ForgotPasswordModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@using (Ajax.BeginForm("SendMailForPassword", "Account", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "CheckSendMailSuccess",
            OnFailure = "SendMailFailed"
        }, new { id = "forgotPasswordMailSend-form", @style = "display: block;" }))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Peekabu - Login</title>

        <!-- Bootstrap -->

        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <!-- Custom style -->
        <link href="~/Content/css/styles.css" rel="stylesheet" />
        <!-- Google font Droid sans-->
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <!-- Font awesome icons css -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="~/Content/Plugins/toastr/toastr.css" rel="stylesheet" />
        <link href="~/Content/Plugins/toastr/toastr.min.css" rel="stylesheet" />
        <script src="~/Content/Plugins/toastr/toastr.min.js"></script>
        <script src="~/Content/Plugins/toastr/toastrConfig.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-main">
                        <div class="forgot-pass-mbain">
                            <img class="img-responsive" src="/Content/img/logo.png" width="200" />
                            <h3 class="main-title">Forgot Password</h3>
                            <p class="custom-warning">
                                Email address you use to log in to your account.
                                We'll send you an email with instructions to choose a new password.
                            </p>
                            <form>
                                <div class="form-group">
                                    <label class="form-title">Email</label>
                                    @*<input type="text" class="form-control" />*@
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", id = "forgotEmail", placeholder = "Enter your E-mail", type = "text" })
                                    @Html.ValidationMessageFor(m => m.email)
                                    <span id="spn-error-forgotEmail" data-val="0" data-myval="10" style="color:red; display:none;"></span>
                                    @*<label class="warning">Field Required</label>*@
                                </div>
                                <div class="form-group">
                                    @*<input type="submit" class="custom-btn" value="Send" />*@
                                    <input type="submit" id="btn-ForgotPasswordSend" class="custom-btn" value="Send" />
                                    @*<input type="button" id="btn-dummy-ForgotPasswordSend" class="custom-btn" value="Send" />*@
                                </div>
                                <div class="form-group">
                                    @*<p class="forgot-pass"><a id="show-login">Back to login</a></p>*@
                                    <a href="/Account/SchoolLogin">Back to login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        @*<script src="js/bootstrap.js"></script>*@
        <script src="~/Content/js/bootstrap.js"></script>

        <script>
            $('#hide-login').click(function () {
                $('.login-main').hide()
                $('.forgot-pass-main').show();
                //ForgotPassword();
            });
            $('#show-login').click(function () {
                $('.login-main').show()
                $('.forgot-pass-main').hide();
            });

            function CheckLoginSuccess(result) {
                if (result.status) {
                    if (result.userType == 1) {
                        $('#errorMsg').hide();
                        window.location.href = '/School/Home';
                    }
                    else if (result.userType == 2) {
                        $('#errorMsg').hide();
                        window.location.href = '/Parent/Home';
                    }
                }
                else {
                    //$('#errorMsg').removeClass("isHidden");
                    toastrError(result.msg);
                }
            }

            $(window).load(function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");;
            });

            $(document).on('keypress', '#password', function (e) {
                if (e.which === 32)
                    return false;
            });

            function ForgotPassword() {
                $.ajax({
                    url: '/School/ForgotPassword',
                    dataType: 'html',
                    success: function (data) {
                        $('#addStudentModel').html(data);
                        $('.forgot-pass-main').modal('show');
                    },
                });
            }
            //---------------------------------------
            //$(document).on('click', '#btn-dummy-ForgotPasswordSend', function () {
            $(document).on('blur', '#forgotEmail', function () {
                var source = $(this);
                //alert(source);
                $.ajax({
                    url: '/Account/CheckExistEmail?text=' + $(source).val(),
                    type: "GET",
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status) {
                            $('#spn-error-forgotEmail').text(data.Message);
                            $('#spn-error-forgotEmail').show();
                            $('#btn-ForgotPasswordSend').css({ 'cursor': 'default', 'pointer-events': 'none', 'opacity': '.8' });
                        }
                        else {
                            $('#spn-error-forgotEmail').hide();
                            $('#btn-ForgotPasswordSend').css({ 'cursor': 'pointer', 'pointer-events': 'initial', 'opacity': '1' });
                        }
                    }
                });
            });

            function CheckSendMailSuccess(result) {
                if (result.Status) {
                    //alert('hi')
                    toastrSuccess(result.Message);
                    setTimeout(function () {
                        window.location.href = "/Account/SchoolLogin";
                    }, 250);
                }
                else {
                    toastrError(result.Message);
                }
            }
            //--------------------------------------------------------

        </script>
    </body>
</html>
}
