@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


@*basheer comment start
<section class="menuSlct">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="~/Content/img/child.png" class="img-responsive visible-lg visible-md child-img" />
            </div>

            <div class="col-md-7">
                <ul class="slctList fullWid">
                    <li>
                        <a href="/Account/ParentLogin">
                            <img src="~/Content/img/parent.png" class="iconImg"/>
                            <p>parent</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Account/SchoolLogin">
                            <img src="~/Content/img/school.png" class="iconImg"/>
                            <p>school</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Account/StaffLogin">
                            <img src="~/Content/img/staff.png" class="iconImg"/>
                            <p>staff</p>
                        </a>
                    </li>
                </ul>
            </div><!-- /col-md-5 -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<script>
    $(document).ready(function () {
        $(".se-pre-con").hide();
    });
</script>

basheer comment end*@
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="header-main-h1">Ensuring Effortless Management</h1>
                <div class="banner_cnts">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 media-pad-zero text-center main-contact-pads">
                            <div class="contacts-single">

                                <div class="circle-contact icons">
                                    <img src="~/Content/images/teacher.png">
                                </div>
                                <div class="col-xs-12 head-serv"> <h5 style="text-transform:uppercase;">Teacher</h5></div>
                                <div class="col-xs-12 my-txt-serv">
                                    <p>If you are a teacher then,<br> please login here</p>
                                    <a href="/Account/StaffLogin">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 media-pad-zero text-center main-contact-pads">
                            <div class="contacts-single">

                                <div class="circle-contact icons">
                                    <img src="~/Content/images/school.png">
                                </div>
                                <div class="col-xs-12 head-serv"> <h5 style="text-transform:uppercase;">School</h5></div>
                                <div class="col-xs-12 my-txt-serv">
                                    <p>If you are a School Admin then,<br> please login here</p>
                                    <a href="/Account/SchoolLogin">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 media-pad-zero text-center main-contact-pads">
                            <div class="contacts-single">

                                <div class="circle-contact icons">
                                    <img src="~/Content/images/parent.png">
                                </div>
                                <div class="col-xs-12 head-serv"> <h5 style="text-transform:uppercase;">Parent</h5></div>
                                <div class="col-xs-12 my-txt-serv">
                                    <p>If you are the parent then,<br> please login here</p>
                                    <a href="/Account/ParentLogin">Login</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div><!-- .row end-->
                </div><!-- .banner_cnts end-->
            </div><!-- .col-12 end-->
        </div><!-- .row end-->
    </div><!-- .container end-->
</section><!-- .banner end-->

<section class="whitebg">
    <div class="container">
        <h1 class="header-main-h1 white_head">why <span class="question">Schoolman ?</span></h1>
        <div class="white_cnts">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="SM_accessories">
                        <img src="~/Content/images/white_side.png">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="importance">
                        <ul>
                            <li>Online fee collection on time</li>
                            <li>Communication to parents using mobile notifications, SMS and email</li>
                            <li>School bus GPS tracking</li>
                            <li>Online availability of progress report, marks list, timesheet</li>
                            <li>Attendance management of students by automating  it</li>
                            <li>Generating attendance reports of the students</li>
                            <li>Staff management using biometric system</li>
                            <li>Staff allocation to specific class and period</li>
                            <li>Generating financial report and administrative reports</li>
                            <li>No more manual records or calculations on sheets of paper.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row end-->
        </div><!-- .white_cnts end-->
    </div> <!-- .container end-->
</section> <!-- .whitebg end-->

<section class="clients">
    <div class="container">
        <div class="inner">
            <h1 class="header-main-h1 white_head white">Our <span class="question">Clients</span></h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client1.png">
                        </div>
                        <div class="client_name">
                            <h5>
                                Shanthigiri<br>
                                Public School
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client17.png">
                        </div>
                        <div class="client_name">
                            <h5>SREE VIDYADHIRAJA <br> VIDYASADAN  E M H S IDUKKI</h5>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client2.png">
                        </div>
                        <div class="client_name">
                            <h5>
                                CROSS LAND<br>
                                PUBLIC SCHOOL
                            </h5>
                        </div>
                    </div>
                </div>*@
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client10.png">
                        </div>
                        <div class="client_name">
                            <h5>SATLUJ SCHOOL <br> HARYANA</h5>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client3.png">
                        </div>
                        <div class="client_name">
                            <h5>SMD PUBLIC<br> SCHOOL</h5>
                        </div>
                    </div>
                </div>*@
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client18.png">
                        </div>
                        <div class="client_name">
                            <h5>KTCT HIGHER <br> SECONDARY SCHOOL </h5>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="client_des more_clnts">
                        <div class="client_lgo">
                            <img src="~/Content/images/client4.png">
                        </div>
                        <div class="client_name">
                            <h5>BRIGHT <br> CENTRAL SCHOOL</h5>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="view_clients">
                <a href="/Account/OurClients">View More</a></li>
            </div>
        </div>
    </div>
</section>


@*<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testi">
                    <h1 class="header-main-h1 black">Testimonials</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat<br> viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</p>
                </div>
                <div class="slider">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimotial_des">
                                <div class="client_img">
                                    <img src="~/Content/images/client_img.jpg">
                                </div>
                                <div class="client_wrds">
                                    <h4>David Lee</h4>
                                    <h6>Professor</h6>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque sapien, tempus quis nisi sed, placerat viverra erat. Proin vitae arcu rutrum, vulputate sem vel, vehicula orci.</div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@




