
@{
    ViewBag.Title = "OurClients";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!--banner start-->
<section class="Our_clients">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bnr">
                    <h1 class="header-main-h1 head_main_cap">OUR PRESTIGIOUS CLIENTS</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   banner end   -->

<section class="more_clnts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="abt_clnts">
                    @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim eu leo et<br>
                    ullamcorper. Sed id lectus pretium, iaculis nulla eget, vehicula leo. <br>
                    Quisque a tempus magna, a tempus metus. Quisque eleifend eros et <br>
                    quam euismod tincidunt. Integer a sodales ex, vel tincidunt est<br>*@
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client1.png">
                            </div>
                            <div class="client_name">
                                <h5>
                                    Shanthigiri<br>
                                    Public School
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client17.png">
                            </div>
                            <div class="client_name">
                                <h5>SREE VIDYADHIRAJA <br> VIDYASADAN  E M H S IDUKKI</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client10.png">
                            </div>
                            <div class="client_name">
                                <h5>SATLUJ SCHOOL <br> HARYANA</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client18.png">
                            </div>
                            <div class="client_name">
                                <h5>KTCT HIGHER <br> SECONDARY SCHOOL </h5>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client14.png">
                            </div>
                            <div class="client_name">
                                <h5>ST.MARY'S <br> SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client2.png">
                            </div>
                            <div class="client_name">
                                <h5>
                                    CROSS LAND<br>
                                    PUBLIC SCHOOL
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client3.png">
                            </div>
                            <div class="client_name">
                                <h5>SMD PUBLIC<br> SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client4.png">
                            </div>
                            <div class="client_name">
                                <h5>BRIGHT <br> CENTRAL SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client5.png">
                            </div>
                            <div class="client_name">
                                <h5>NEW JYOTHI <br> CENTRAL SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client6.png">
                            </div>
                            <div class="client_name">
                                <h5>HOLY INNOCENTS<br> PUBLIC SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client7.png">
                            </div>
                            <div class="client_name">
                                <h5>PARADISE <br> PUBLIC SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client8.png">
                            </div>
                            <div class="client_name">
                                <h5>
                                    VALIYAM
                                    <br>CENTRAL SCHOOL
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client9.png">
                            </div>
                            <div class="client_name">
                                <h5>BELMONT <br> PUBLIC SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client11.png">
                            </div>
                            <div class="client_name">
                                <h5>B.F.M RESIDENTIAL <br> ENGLISH MEDIUM SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client12.png">
                            </div>
                            <div class="client_name">
                                <h5>MAR THOMA <br> CENTRAL SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client13.png">
                            </div>
                            <div class="client_name">
                                <h5>THE TRIVANDRUM <br> SCOTTISH SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                   
                   
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client15.png">
                            </div>
                            <div class="client_name">
                                <h5>KAVIYATTU ENGLISH <br> MEDIUM SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client16.png">
                            </div>
                            <div class="client_name">
                                <h5>HOLY CROSS <br> ENGLISH SCHOOL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="client_des more_clnts">
                            <div class="client_lgo">
                                <img src="~/Content/images/client18.png">
                            </div>
                            <div class="client_name">
                                <h5>KTCT HIGHER <br> SECONDARY SCHOOL </h5>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
               
                 
                </div>*@
            </div>
        </div>
    </div>
</section> 

