
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!--banner start-->
<section class="banner_abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bnr">
                    <h1 class="header-main-h1 head_main_cap">PACKAGES OF SCHOOLMAN</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   banner end   -->
<!-- MAIN CONTENT START    -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-us">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>SchoolMan <span>Package Offers</span></h4>
                            <ol>
                                <li><span><i class="fas fa-check"></i></span>Mobile application for teachers, parents and school admin.</li>
                                <li><span><i class="fas fa-check"></i></span>ID Card for every academic year</li>
                                <li><span><i class="fas fa-check"></i></span>IT Consultant for a school </li>
                                <li><span><i class="fas fa-check"></i></span>IT Support with classes on technical languages, robotics etc</li>
                                <li><span><i class="fas fa-check"></i></span>Summer Camps</li>
                                <li><span><i class="fas fa-check"></i></span>School Website revamping and maintenance</li>
                                <li><span><i class="fas fa-check"></i></span>FREE SMS services for 1st year<sup>*</sup></li>
                                <li><span><i class="fas fa-check"></i></span>100% Online Support</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="packages table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Features</th>
                                <th scope="col">Platinum</th>
                                <th scope="col">Gold</th>
                                <th scope="col">Silver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Online Fee Collection</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Communication with Parents using Mobile App notifications, SMS & Email</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">GPS Tracking of School Bus and its notification through mobile app</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Automated attendance management system with Biometric device</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Staff attendance management system with Biometric device</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Financial reports for smooth auditing</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Administrative reports for the smooth running of school</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>


                            <tr>
                                <th scope="row">No more manual records, bills or vouchers</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>


                            <tr>
                                <th scope="row">Library management system</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Inventory management</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Store management with pending stock reports</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Mobile application for teachers, parents and school admin</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">FREE SMS services for 1st year upto</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">100% Online Support</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">School Website revamping and maintenance</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">100% Online Support</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">ID Card for every academic year</th>
                                <td><i class="fa fa-check"></i></td>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">IT Consultant for a school</th>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">IT Support with classes on technical languages, robotics etc</th>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th scope="row">Summer Camps</th>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Brochure Designing</th>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th scope="row">Digital Marketing of School</th>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Promotional videos</th>
                                <td><i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
<!--  MAIN CONTENT END    -->

