

@model TrackTap.Models.SchoolModel

<div class="modal-dialog">
    <!-- Modal content-->
    @Html.HiddenFor(m => m.CurrentAddedStudent, new { Value = Model.CurrentAddedStudent })
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="close-btn" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Child</h4>
        </div>
        <div class="modal-body login-without" style="display: inline-block; margin: 0; padding: 0; background: #2a7c81; width: 100%; border-radius:0px 0px 7px 7px;">
            <div class="login" style="padding: 0 0 !important;">
                <div class="login-form fullWid">
                    <h3>Student Detail</h3>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.schoolId, TrackTap.DataLibrary.Data.DropdownData.GetSchoolList().OrderBy(z => z.Text), "--School Name--", new { @class = "newDes", @data_live_search = "true", @style = "background-color: #2f7e86;" })
                    </div>
                    <div class="form-group">
                        <input id="admission" style="height:47px;" class="newDes" placeholder="Admission Number" />
                    </div>
                    <div class="form-group">
                        <button class="btn pay-now-btn" data-toggle="modal" id="addSiblingStudent"> Check</button>
                        <button class="btn pay-now-btn" data-toggle="modal" id="addSiblingStudentCancel"> Cancel & Continue</button>
                    </div>
                    @*<p>Please contact school for admission Number</p>*@
                    <div id="std-detail-3">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).on('click', '#addSiblingStudent', function () {
        //$(document).on('delayKeyup', '#admission', function () {
        //$('#admission').delayKeyup(function () {
        var searchText = $('#admission').val().trim();
        var schoolId = $('#schoolId').val();
        var currentStudent = $('#CurrentAddedStudent').val();
        if (searchText.length > 2) {
            $.ajax({
                url: '/Student/SearchAdmission/' + searchText + '~' + schoolId + '~' + currentStudent,
                type: "GET",
                dataType: 'html',
                success: function (data) {
                    $('#std-detail-3').html(data);
                }
            })
        }
        else {
            $('#admission').focus();
        }
    });


    $(document).on('click', '#addSiblingStudentCancel', function () {
        //$('#addChild').modal('hide');
        var currentStudent = $('#CurrentAddedStudent').val();
        AddParentDetails(currentStudent);
    });


</script>