@model TrackTap.Models.CalendarEventModels

<style>
    .custumstyle{
text-align: left;
    /*color: #03a9f4;*/
    }
    .custumstylehead{

    }
</style>
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Events</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label><u>Event : </u></label><br>
                <label class="custumstyle">@Model.eventHead</label>
            </div>
            <div class="form-group">
                <label><u>Date :  </u></label><br>
                <label class="custumstyle">@Model.eventDate</label>
            </div>
            <div class="form-group">
                <label><u>Details : </u></label>
                <label class="custumstyle">@Model.eventDetails</label>
                </div>
            </div>
        </div>
</div>

