
@model TrackTap.Models.LaboratoryInventoryModels

<div class="modal-dialog modal-sm" role="document">

    <style>
        span {
            color: red;
        }
    </style>

    @using (Ajax.BeginForm("AddLaboratoryCategory", "School", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "AddCategorySuccess",
        OnFailure = "ajaxFailure",
    }, new { id = "form-teacher-add" }))
    {
        @Html.HiddenFor(m => m.schoolId)

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Laboratory Category</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.laboratoryName, new { autocomplete = "off", placeholder = "name", @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.laboratoryName)
                    @*<input class="form-control" placeholder="Name" type="text" />*@
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="btn-addteacher" class="btn pay-now-btn">Save</button>
            </div>
        </div>
    }
</div>
<script>

   

</script>
