@model TrackTap.Models.LibraryModels
@{
    var category = new TrackTap.DataLibrary.Data.School(Model.schoolId).GetBookCategory();
}


<thead>
    <tr>
        <th>
            Slno
        </th>
        <th>
            Category
        </th>
        <th>

        </th>
    </tr>
</thead>
<tbody>
    @{
        int i = 1;
        foreach (var cat in category)
        {
            <tr>
                <td class="ng-teacherDetails-click">
                    @i
                </td>
              

                <td class="ng-teacherDetails-click" >
                    @cat.categoryName
                </td>
              
                <td>
                    <button class="delete-category-tr btn-peek" data-id="@cat.categoryId"><i class="fa fa-trash "></i></button>
                    <button class="edit-staff-tr pay-now-btn" data-id="@cat.categoryId"><i class="fa fa-edit "></i></button>
                </td>
            </tr>
            i++;
        }
    }
</tbody>
