@model TrackTap.Models.FeeAlertDataModel
@{
    Model.IsHideAccounts = new TrackTap.Data.School(Model.SchoolId).GetAccountHide();

}
<div class="col-md-12 col-md-offset-1 style=" margin-bottom 70%; margin-top 3%;"">
    <div class="salary-setup-main">
        @using (Ajax.BeginForm("ChangeAccountHide", "School", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "ChangeAccountHideSuccess",
            OnFailure = "ChangeAccountHideFailed"
        }, new { id = "form-login" }))
        {
            <div class="form-group">
                <label>Wants to hide the accounts ? </label>
                <div class="form-group col-lg-2" id="chkDiv">
                    <br />
                    <label>Yes</label>
                    <br />
                    @Html.CheckBoxFor(m => m.IsHideAccounts, new { @class = "", id = "cash-check-id" })
                    @Html.ValidationMessageFor(z => z.IsHideAccounts)
                </div>
            </div>
            <div class="form-group">
                <span class="col-md-12" style="float: left; margin-top:15px;">
                    <button type="submit" class="btn pay-now-btn">Save </button>
                </span>
            </div>

        }
    </div>
</div>

