@model TrackTap.Models.StudentModel
@{

}


<div class="modal-dialog" role="document" style="background-color: #fff;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">DOB</h4>
        </div>
    </div>

    <div class="wrapper">
        <div class="date">
            <div>
                <span>Date:</span>
                <input type="text" />/<input type="text" />/<input type="text" />
            </div>
        </div>

        <div class="wrapper_body">
            <h3>Certificate</h3>
            <p>This is to certify that <input type="text" class="txt_fld" />Daughter/Son of <input type="text" class="txt_fld" /> is a regular student of Class <input type="text" class="txt_fld" style="width:40px;" /> of this institution for the academic year <input type="text" class="txt_fld" style="width:40px;" /> -1 <input type="text" class="txt_fld" style="width:40px;" />. Her Date of Birth as per school record is  <input type="text" class="txt_fld" style="width:20px;" />/<input type="text" class="txt_fld" style="width:20px;" />/<input type="text" class="txt_fld" style="width:40px;" />.</p>

        </div>

        <div class="sign">
            <span>Principal</span>
        </div>
    </div>

</div>
