

    <!-- Modal -->
    @*<div class="modal fade" id="modalStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">*@
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Student</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-center">
                                <label>Upload Profile Picture</label>
                                <div class="upload-box" style="background-image: url(/Content/img/default-placeholder-1024x1024-960x960.png);">
                                    <input type="file" class="uploder-controler" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="Name" type="text" />
                            </div>
                            <div class="form-group">
                                <label>Parent Name</label>
                                <input class="form-control" placeholder="Parent Name" type="text" />
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" placeholder="Address" type="text" />
                            </div>


                        </div><!-- col-sm-6 End -->
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input class="form-control" placeholder="State" type="text" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input class="form-control" placeholder="City" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Class</label>
                                        <select class="form-control">
                                            <option>-- Select --</option>
                                            <option>V</option>
                                            <option>VI</option>
                                            <option>VII</option>
                                            <option>VIII</option>
                                            <option>IX</option>
                                            <option>X</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Division</label>
                                        <select class="form-control">
                                            <option>-- Select --</option>
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contact No.</label>
                                <input class="form-control" placeholder="Contact No." type="text" />
                            </div>
                            <div class="form-group">
                                <label>Bus Id</label>
                                <input class="form-control" placeholder="Bus Id" type="text" />
                            </div>
                            <div class="form-group">
                                <label>Trip Number</label>
                                <input class="form-control" placeholder="Trip Number" type="text" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn pay-now-btn">Add Student</button>
                </div>
            </div>
        </div>
    @*</div>*@
