@model TrackTap.Models.PasswordChangeModel
@{

}
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
}
<style>
    .gap_bottom {
        padding-bottom: 35px;
    }

        .gap_bottom label {
            padding-top: 8px;
        }
</style>
<h2>Change Password</h2>
<div class="parent-div">
    <div id="change-password">
        @Html.Partial("~/Views/School/_pv_ChangePassword.cshtml", Model)
    </div>
</div>

<script>

    function PasswordChangeSuccess(result) {
        if (result.status == true) {
            toastrSuccess(result.msg);
            //RefreshPage();
        }
        else {
            toastrError(result.msg)
        }
    }

    function PasswordChangeFailed() {
        //RefreshPage();
        toastrError(result.msg);
    }
</script>
@*<div class="col-md-6">
        <div class="form-group gap_bottom">
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Narration, new { autocomplete = "off", placeholder = "Narration", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Narration)
            </div>
        </div>
    </div>*@

