@model TrackTap.Models.SchoolValue
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
    //var user = (TrackTap.DataLibrary.tb_Login)Session["User"];


}


<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top: 5px;">Class</h3>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Class : </label>
                @*<select class="form-control" id="slct-class-dropdwn">
                        <option>-- Select --</option>
                        <option>VI</option>
                        <option>VII</option>
                        <option>VIII</option>
                    </select>*@
                @Html.DropDownListFor(m => m.className, TrackTap.DataLibrary.Data.DropdownData.GetClasses(Model.schoolId), "--Choose--", new { @class = "form-control slct-class-dropdwn", @data_live_search = "true", @style = "display:inline-block; width:auto;min-width:180px;" })
            </div>
            <div class="form-group col-sm-4">
                <div style="display:none;">
                    <label>Division</label>
                    <select class="form-control" disabled>
                        <option>-- Select --</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group text-right">
                    <button class="btn pay-now-btn" id="btn-add-class"><i class="fa fa-plus"></i> Add Class</button>
                </div>
            </div>
        </div>

        @{
            var filtermodel = new TrackTap.Models.FilterModel();
            filtermodel.schoolId = Model.schoolId;
            filtermodel.ClassName = string.Empty;
            filtermodel.DivName = string.Empty;
        }

        <div class="table-responsive">
            <table class="table custome-table" id="class-list">
                @Html.Partial("~/Views/School/_pv_ClassList.cshtml", filtermodel)
            </table>
        </div>
    </div><!-- end of col md 12 -->
</div>

<div class="modal fade" id="modalClassAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

<script>
    //$('.mobile-label').click(function () {
    //    $('.responsive-menu').slideToggle();
    //});
    //$(document).on('click', '.sub-menu > span', function () {
    //    //alert();
    //    $(document).find('.sub-menu.open').removeClass('open');
    //    $(this).parent().toggleClass('open');
    //});
    //$(document).on('click', '.sub-menu.open > span', function () {
    //    $(this).parent().removeClass('open');
    //});
    $(document).on('click', '.ng-click', function () {
        var classId = $(this).attr('data-classid')
        var divId = $(this).attr('data-divid')

        window.location = '/School/ClassDetails?classId=' + classId + '&&divId=' + divId;
    });

    $(document).on('change', '#slct-class', function () {

        $('#ClassName').val($("#slct-class option:selected").text());
        $('#OrderValue').val($("#slct-class option:selected").val());

    });


    $(document).on('click', '#btn-add-class', function () {

        $.ajax({
            url: '/School/AddClassParialView',
            type: "GET",
            dataType: 'html',
            success: function (data) {
                $('#modalClassAdd').html(data);
                $.validator.unobtrusive.parse($("#modalClassAdd"));
                $('#modalClassAdd').modal('show');
            }
        });

    });



    $(document).on('change', '.slct-class-dropdwn', function () {

        var obj = new Object();
        obj.schoolId =@Model.schoolId
        obj.ClassName = $(".slct-class-dropdwn option:selected").text();
        if (obj.ClassName == "--Choose--")
            obj.ClassName = "";
        obj.DivName = "";

        $.ajax({
            url: '/School/DatatableClassList',
            type: "GET",
            dataType: 'html',
            data: obj,
            success: function (data) {
                $("#class-list").dataTable().fnDestroy()
                $('#class-list').html(data);
                $("#class-list").dataTable();
            }
        });

    });


    function RefreshClassGrid() {
        var obj = new Object();
        obj.schoolId =@Model.schoolId
        //obj.ClassName = $(".slct-class-dropdwn option:selected").text();
        obj.ClassName = "";
        obj.DivName = "";

        $.ajax({
            url: '/School/DatatableClassList',
            type: "GET",
            dataType: 'html',
            data: obj,
            success: function (data) {
                $("#class-list").dataTable().fnDestroy()
                $('#class-list').html(data);
                $("#class-list").dataTable();
            }
        });
    }

    function AddClassSuccess(result) {
        if (result.status) {
            //console.log(result.list)
            toastrSuccess(result.msg);
            $('#modalClassAdd').modal('hide');

            var options = $(".slct-class-dropdwn");
            options.children("option").remove();
            options.append($("<option />").val(0).text("--Choose--"));
            $.each(result.list, function () {
                options.append($("<option />").val(this.Value).text(this.Text));
            });

            setTimeout(function () {
                RefreshClassGrid();
            }, 300);
        }
        else {
            toastrError(result.msg);
            $('#modalClassAdd').modal('hide');
        }
    }

    $(function () {
        $("#class-list").dataTable();
    })


    $(document).on('click', '.delete-class-tr', function () {
        var source = $(this);
        swal({
            title: "Are you sure?",
            text: "You will not be able to undo this!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: true
        },
function (isConfirm) {
    if (isConfirm) {

        
        $.ajax({
            url: '/School/DeleteClass/' + $(source).attr('data-divid'),
            type: "GET",
            dataType: 'json',
            success: function (data) {

                if (data.status) {
                    toastrSuccess(data.msg);

                    var options = $(".slct-class-dropdwn");
                    options.children("option").remove();
                    options.append($("<option />").val(0).text("--Choose--"));
                    $.each(data.list, function () {
                        options.append($("<option />").val(this.Value).text(this.Text));
                    });

                    setTimeout(function () {
                        RefreshClassGrid();
                        //swal("Deleted!", "", "success");
                    }, 250);
                }
                else {
                    toastrError(data.msg);
                }
            }
        });
    }
    //else {
    //    swal("Cancelled", "", "error");
    //}
});


    });


</script>
