@model TrackTap.Models.DiscountDetails
@{
    ViewBag.Title = "DiscountDetails";
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
    var student = new TrackTap.Data.Student(Model.StudentId);
}


<div id="pv-table-DiscountDetails">
    <div class="table-responsive">
        <table class="table custome-table table-DiscountDetails-student">
            <thead>
                <tr>
                    <th>
                        SlNo
                    </th>
                    <th>
                        Fee Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (student != null)
                {
                    if (student.Discount.Count > 0)
                    {
                        int i=1;
                        foreach (var item in student.Discount)
                        {

                            <tr>
                                <td>
                                   @i
                                </td>
                                <td>
                                    @item.feename
                                </td>
                                <td>
                                    @string.Format("{0:0.00}", item.discountAmount)
                                </td>
                                <td></td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            No Discount Set!.
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        $(".table-DiscountDetails-student").dataTable();
    })
</script>
