@model TrackTap.Models.SchoolModel
@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
    var trips = new TrackTap.DataLibrary.Data.School(Model.schoolId).GetTripDetailById(Model.curredntDateTime,Model.busId);
}
<style>
    .green-round {
        border-radius: 50px;
        background: #007b04;
        padding: 3px 11px 3px 11px;
        width: 10px;
        height: 10px;
    }

    .red-round {
        border-radius: 50px;
        background: #cc1104;
        padding: 3px 11px 3px 11px;
        width: 10px;
        height: 10px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h3>Navigation History</h3>

        <div class="table-responsive" id="history-list-view">
   
        </div>

    </div><!-- end of col md 8 -->
</div>
<button type="button" class="btn btn-sm btn-info isHidden" id="btn-save-attendance" style="margin-top: 20px;width: 200px;">Save</button>
