
@model TrackTap.Models.DayBookReportModel
@{
    long bankId = 0;
    int sourceId = 0;//From Status Cash ...0:Cash,1:Bill,2:Bank
    var data = new TrackTap.Data.School(Model.SchoolId).GetOpeningBalance(Model.FromDate, bankId, sourceId);
}
<div class="row">
    @if (data != null)
    {
        <span>
            <label style="margin-right:50px;">Opening Balance: @data /- </label>
        </span>
    }
    else
    {

    }
</div>