

@model TrackTap.Models.DayBookReportModelStock
@{
    long bankId = Model.BankId;
    int sourceId = 2;//From Status bank..0:Cash,1:Bill,2:Bank
    var data = new TrackTap.DataLibrary.Data.School(Model.SchoolId).GetOpeningBalanceStock(Model.FromDate, bankId, sourceId);
}
<div class="row">
    @if (data != null)
    {
        <span>
            <label style="margin-right:50px;">Opening Balance: @data /- </label>
        </span>
    }
    else
    {

    }
</div>
