@model TrackTap.Models.StudentModel

<input type="hidden" value="@Model.studentId" id="hfStudentId" />
<div>
    <span class="isHidden" style="cursor: pointer;" id="btn-load-more" data-id="1">Load more <img id="msgLoader" class="isHidden" style="width:18px;" src="~/Content/img/msgLoader.gif" /> </span>
    <div id="inner-message-view-div">

    </div>
</div>

