@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<style>button.btn.btn-lg.btn-vijay-pay {
    background-color: #0394d1;
    color: #fff;
    font-weight: bold;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero" style="padding-top: 114px; ">
    <div style="padding:0px 25px">
        <p style="font-weight:bold; color:forestgreen">Child Academy Makes Education Smarter And Comprehensive</p>

        <p style="text-align:justify;">Child Academy is the last word for parents aspiring to better learning resources for their child, or a student intending to improve performance through constant practice. It addresses academic performance parameters relevant to today’s education scenario. In a competitive environment, Child Academy’s approach gives a student the optimum opportunity and edge to prepare using an exam-scenario. It helps a student to plan better with the help of a robust reports system that gauges performance over time. The interface stresses on more practice to gain experience in handling questions related to the subject in all possible ways.</p>
        <div class="col-lg-12"><button class="btn btn-lg btn-vijay-pay">Pay Now ₹1200/-</button>
        
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pmzero apsnewmargindiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero">
            <div class="videoWrapper">
                <!-- Copy & Pasted from YouTube -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xR5uvzzveZ8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero textpaddingnewaps">
            <h3 class="pmzero">Promo Video</h3>
            <p class="pmzero">Child Academy encourages students to understand concepts, eliminate learning gaps and apply the learning to real world problems. Check out our promotional video of Child Academy to make the right decision for your child!</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pmzero apsnewmargindiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero">
            <div class="videoWrapper">
                <!-- Copy & Pasted from YouTube -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NJsFdPcUVwM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero textpaddingnewaps">
            <h3 class="pmzero">How to practice levels</h3>
            <p class="pmzero">Child Academy's progressive learning methodology ensures better grades for students.  This video demonstrates you with the step by step procedure on how to register into Child Academy.</p>
        </div>
    </div>
</div>