@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}



<section class="terms-ser login-body">
    <div class="container">
        <div class="courseBox wraper ">

            <div class="priceTop">
                <div class="wraper">
                    <div class="priSp">
                        <div class="pricingDet-list">
                            <div class="bxSh">
                                <div class="postDiv fulWid">
                                    <h3 class="toTit">Core Php with responsive web </h3>
                                    <span class="drop"></span>
                                </div>
                                <div class="triangulo">
                                    <div class="price-incide">
                                        <sup><i class="fa fa-inr"></i></sup>
                                        <span>24000</span>
                                        <sub>/2.5 month</sub>
                                    </div>
                                </div>
                                <div class="contHeig">
                                    <h4>html5</h4>
                                    <h4 class="bgPr"> js </h4>
                                    <h4>css3 </h4>
                                    <h4 class="bgPr">php</h4>
                                    <h4>jquery</h4>
                                    <h4 class="bgPr">ajax + 1 project in php+bootstrap </h4>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="#" data-id="1" class="button-style-2">Pay Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="priSp">
                        <div class="pricingDet-list">
                            <div class="bxSh">
                                <div class="postDiv fulWid">
                                    <h3 class="toTit">Dotnet </h3>
                                    <span class="drop"></span>
                                </div>
                                <div class="triangulo">
                                    <div class="price-incide">
                                        <sup><i class="fa fa-inr"></i></sup>
                                        <span>22000</span>
                                        <sub>/2.5 month</sub>
                                    </div>
                                </div>
                                <div class="contHeig">
                                    <h4>html</h4>
                                    <h4 class="bgPr">jsp </h4>
                                    <h4>asp.net</h4>
                                    <h4 class="bgPr">c#</h4>
                                    <h4>window</h4>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="#" data-id="2" class="button-style-2">Pay Now</a>
                            </div>
                        </div>
                    </div>


                    <div class="priSp">
                        <div class="pricingDet-list">
                            <div class="bxSh">
                                <div class="postDiv fulWid">
                                    <h3 class="toTit">Java</h3>
                                    <span class="drop"></span>
                                </div>
                                <div class="triangulo">
                                    <div class="price-incide">
                                        <sup><i class="fa fa-inr"></i></sup>
                                        <span>10000</span>
                                        <sub>/1.5 month</sub>
                                    </div>
                                </div>
                                <div class="contHeig">
                                    <h4>Core java</h4>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="#" data-id="3" class="button-style-2">Pay Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="wraper">

                    <div class="priSp">
                        <div class="pricingDet-list">
                            <div class="bxSh">
                                <div class="postDiv fulWid">
                                    <h3 class="toTit">Android </h3>
                                    <span class="drop"></span>
                                </div>
                                <div class="triangulo">
                                    <div class="price-incide">
                                        <sup><i class="fa fa-inr"></i></sup>
                                        <span>24000</span>
                                        <sub>/2 month</sub>
                                    </div>
                                </div>
                                <div class="contHeig">
                                    <h4>android</h4>
                                    <h4 class="bgPr"> fragmentation </h4>
                                    <h4>active android studio framework </h4>
                                    <h4 class="bgPr">etc</h4>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="#"  data-id="4" class="button-style-2">Pay Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="priSp">
                        <div class="pricingDet-list">
                            <div class="bxSh">
                                <div class="postDiv fulWid">
                                    <h3 class="toTit">Ios</h3>
                                    <span class="drop"></span>
                                </div>
                                <div class="triangulo">
                                    <div class="price-incide">
                                        <sup><i class="fa fa-inr"></i></sup>
                                        <span>23000</span>
                                        <sub>/2.5 month</sub>
                                    </div>
                                </div>
                                <div class="contHeig">
                                    <h4>objective c</h4>
                                    <h4 class="bgPr">ios </h4>
                                    <h4>swift </h4>
                                </div>
                                <div class="price-footer">
                                    <a href="#" data-id="5" class="button-style-2">Pay Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="priSp">
                        <div class="pricingDet-list">
                            <div class="bxSh">
                                <div class="postDiv fulWid">
                                    <h3 class="toTit">Hybrid</h3>
                                    <span class="drop"></span>
                                </div>
                                <div class="triangulo">
                                    <div class="price-incide">
                                        <sup><i class="fa fa-inr"></i></sup>
                                        <span>23000</span>
                                        <sub>/2.5 month</sub>
                                    </div>
                                </div>
                                <div class="contHeig">
                                    <h4>angular js</h4>
                                    <h4 class="bgPr">ionic</h4>
                                    <h4>phonegap </h4>
                                    <h4 class="bgPr">coredova</h4>
                                </div>
                                <div class="price-footer">
                                    <a href="#" data-id="6" class="button-style-2">Pay Now</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clear"></div>
                </div>

            </div>



        </div>
    </div> <!-- /container -->
</section>
<script>
    $(document).on('click', '.button-style-2', function () {
        var course = $(this).attr('data-id');
        $(".full-loader-dev").show();
        $.ajax({
            url: '/Parent/CoursePayment/' + course ,
            type: "GET",
            dataType: 'json',
            success: function (result) {
                if (result) {
                window.location.href = "/Parent/PaymentPost/";
                }
                else {
                    toastrError("Something went wrong");
                    $(".full-loader-dev").hide();

                }
            },
        });
    })
</script>