@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}


<section class="paymentSuccess">
    <div class="container">
        <div class="login">
            <div class="succBox">
                <img src="../Content/img/success-icon-2.png" />
                <h3>Payment Successful</h3>
                <p>Your Payment of <span>₹.123</span> was successfully completed for course <span> Php</span></p>

            </div>
        </div>
    </div><!-- /container -->
</section> 