@model TrackTap.Models.ParentRegisterModel

@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
    var children = new TrackTap.Data.Parent(Model.parentId).GetChildren();

}


<style>
    .student-msg-span.msg-active {
        background: #61bfbf;
    }

        .student-msg-span.msg-active:after {
            content: "";
            width: 0;
            height: 0;
            border-bottom: 26px solid transparent;
            border-top: 25px solid transparent;
            border-left: 15px solid #61bfbf;
            font-size: 0;
            line-height: 0;
            position: absolute;
            right: -15px;
            top: 0px;
        }

    .student-msg-span {
        background: #0394d1;
        display: block;
        padding: 10px 15px;
        margin-bottom: 20px;
        position: relative;
    }

        .student-msg-span:last-child {
            margin-bottom: 0px;
        }

        .student-msg-span p {
            margin-bottom: 0px !important;
        }

    .noMsg {
        text-align: center !important;
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    .msgMain {
        padding: 30px;
        background: #ffffff26;
        color: #000;
        max-height: 450px;
        overflow-y: auto;
    }

    #btn-load-more {
        text-align: center;
        padding: 10px 15px;
        margin: auto;
        display: table;
        margin-bottom: 20px;
        background: #ccc;
    }

    .chatMain {
        width: 100%;
        float: left;
        position: relative;
    }

    .chatSngl {
        padding: 10px 15px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        color: #000;
        margin-bottom: 12px;
        border-radius: 6px;
        min-width: 32%;
        max-width: 70%;
    }

        .chatSngl span {
            /*width:100%;*/
            display: block;
        }

    .tchrNme {
        font-weight: bold;
        font-size: 17px;
    }

    .timeCht {
        font-size: 12px;
        color: #545454;
        margin-top: 5px;
        padding-top: 6px;
        border-top: 1px solid #c3c3c3;
    }

    .chatMain > .pull-left:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent; /* left arrow slant */
        border-top: 15px solid transparent; /* right arrow slant */
        border-right: 15px solid #e6e6e6; /* bottom, add background color here */
        font-size: 0;
        line-height: 0;
        position: absolute;
        left: -15px;
        top: 15px;
    }

    .chatMain > .pull-right:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent; /* left arrow slant */
        border-top: 15px solid transparent; /* right arrow slant */
        border-left: 15px solid #fff6b8; /* bottom, add background color here */
        font-size: 0;
        line-height: 0;
        position: absolute;
        right: -15px;
        top: 15px;
    }

    .chatRight .chatSngl {
        background: #fff6b8;
    }

    .chatLeft .chatSngl {
        background: #e6e6e6;
    }

    .msg-sty-dev {
        display: block;
        float: left;
        width: 100%;
    }
</style>

<section class="login-body parentLogin">
    <div class="parentbottom">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="login" style="padding: 6% 0 20%;">
                        <div class="parent-home fullWid">
                            <div class="row">
                                <div class="col-md-3" id="student-msg-name-maindiv">
                                    @foreach (var child in children)
                                    {
                                        <span style="cursor: pointer;" class="student-msg-span" data-id="@child.StudentId"><p class=""><i class="fa fa-envelope" aria-hidden="true"></i> @child.StundentName</p></span>
                                    }
                                </div>
                                <div class="col-md-9">
                                    <div id="message-view-div" class="msgMain">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div><!-- /col-md-4 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
</section>

<div class="modal fade" id="enterSmsOtpModel" style="z-index: 1055;">

</div>




<div class="modal fade" id="addChild">
</div>


<script>
    $(document).ready(function () {

        $("#student-msg-name-maindiv > :first-child").removeClass('msg-active');
        $("#student-msg-name-maindiv > :first-child").addClass('msg-active');
        var studentId = $("#student-msg-name-maindiv > :first-child").attr('data-id');

        $.ajax({
            url: '/Parent/MessageSectionView/' + studentId,
            type: "GET",
            dataType: 'html',
            success: function (data) {

                $('#message-view-div').html("");
                $('#message-view-div').html(data);

                $.ajax({
                    url: '/Parent/MessageSectionInnerView/' + 1 + '~' + studentId,
                    type: "GET",
                    dataType: 'html',
                    success: function (data) {

                        $('#inner-message-view-div').html(data);
                        var isMessage = parseInt($('#hfIsMsgCount').val());
                        if (isMessage > 0) {
                            $('#btn-load-more').removeClass('isHidden');
                        }
                        else {
                            $('#btn-load-more').addClass('isHidden');
                        }
                        $.scrollTo($('#inner-message-view-div'), 1000);
                    }
                });
            }
        });

    })

    $(document).on('click', '.student-msg-span', function () {
        $('.student-msg-span').removeClass('msg-active');
        $(this).addClass('msg-active');
        var studentId = $(this).attr('data-id');

        $.ajax({
            url: '/Parent/MessageSectionView/' + studentId,
            type: "GET",
            dataType: 'html',
            success: function (data) {

                $('#message-view-div').html("");
                $('#message-view-div').html(data);

                $.ajax({
                    url: '/Parent/MessageSectionInnerView/' + 1 + '~' + studentId,
                    type: "GET",
                    dataType: 'html',
                    success: function (data) {

                        $('#inner-message-view-div').html(data);
                        var isMessage = parseInt($('#hfIsMsgCount').val());
                        if (isMessage > 0) {
                            $('#btn-load-more').removeClass('isHidden');
                        }
                        else {
                            $('#btn-load-more').addClass('isHidden');
                        }

                        //        $('#inner-message-view-div').scrollTop($('#inner-message-view-div')[0].scrollHeight);
                        var msgDivId = $("#inner-message-view-div > :first-child").attr('id');
                        $('#message-view-div').scrollTop($('#' + msgDivId)[0].scrollHeight);
                        // $('#message-view-div').scrollTop($('#1-msgDiv-conver')[0].scrollHeight);
                        //$('#inner-message-view-div').scrollTo($('#inner-message-view-div'), 1000);
                    }
                });
            }
        });

    });

    $(document).on('click', '#btn-load-more', function () {
        $('#msgLoader').removeClass('isHidden');
        var index = $(this).attr('data-id');
        var studentId = $('#hfStudentId').val();
        index++;
        $.ajax({
            url: '/Parent/MessageSectionInnerView/' + index + '~' + studentId,
            type: "GET",
            dataType: 'html',
            success: function (data) {
                $('#msgLoader').addClass('isHidden');

                $('#btn-load-more').attr('data-id', index);

                var msgDivId = $("#inner-message-view-div > :first-child").attr('id');
                //   var id = $(this).attr('id');
                $('#inner-message-view-div').prepend(data);
                var isMessage = parseInt($('#hfIsMsgCount').val());
                if (isMessage > 0) {
                    $('#btn-load-more').removeClass('isHidden');
                }
                else {
                    $('#btn-load-more').addClass('isHidden');
                    $('#no-msg-div').addClass('isHidden');
                }
                var msgDivId = $("#inner-message-view-div > :first-child").attr('id');
                $('#message-view-div').scrollTop($('#' + msgDivId)[0].scrollHeight);
            }
        });

    });
</script>