<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>

<body>
    <!-- Main box -->
    <table style="width: 100%; background-color: #E3E5E9; margin: 0px; padding: 0px; font-family: Arial;" border="0">
        <tr>
            <td>
                <table style="width: 800px; margin-left: auto; margin-right: auto; border-top: 5px solid #03a9f4;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <!-- BODY -->
                            <table style="width: 800px; background-color: #fff; padding-left: 35px; padding-right: 35px; padding-bottom: 15px; font-size: 16px; padding-top: 50px; font-family: Arial; font-weight: 500;" border="0">
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <p style="color: #4B4B4D; text-align: center; font-size: 22px; font-weight: 700; text-transform:uppercase;">
                                            <img src="http://www.schoolman.in/Content/img/logo.png" width="300" />
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 5px; padding-top: 5px;">
                                        <!--<p style="color: #03a9f4; text-align: center; font-size: 16px; font-weight: 700; text-transform:uppercase;">
                                            Your kid's School have an Event
                                        </p>-->
                                        <p style="color: #03a9f4; text-align: center; font-size: 16px; font-weight: 700; text-transform:uppercase;">
                                            {{resetLink1}}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;">
                                        <a href="{{resetLink3}}" style="color: #4B4B4D; font-size: 16px; margin-top: 2px; margin-bottom: 2px; text-align: center; font-weight: 500; display: block; ">{{resetLink4}}</a>
                                        <p style="color: #4B4B4D; font-size: 16px; margin-top: 2px; margin-bottom: 2px; text-align: center; font-weight: 500;">{{resetLink2}}</p>
                                        <p style="text-align: center;">
                                            <!--<a href="{{resetLink}}" style="background-color: #fff; border: 1px solid #03a9f4; padding: 20px; display: block; position: relative; color: #03a9f4; text-align: center; font-weight: 700; font-size:18px; max-width: 200px; border-radius: 3px; text-decoration: none; margin-left: auto; margin-right: auto;">
                                                Please Click Here !
                                            </a>-->
                                            <span style="background-color: #fff; border: 1px solid #03a9f4; padding: 20px; display: block; position: relative; color: #03a9f4; text-align: center; font-weight: 700; font-size:18px; max-width: 1000px; border-radius: 3px; text-decoration: none; margin-left: auto; margin-right: auto;">
                                                {{resetLink}}
                                            </span>
                                        </p>
                                    </td>
                                </tr>

                            </table>
                            <!-- BODY END -->

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- Footer -->
                            <table style="width: 800px; color: #b0b0b0; font-size: 12px; font-weight: 500; " border="0">
                                <tr>
                                    <td>
                                        <p style="margin-bottom: 20px; margin-top: 20px; text-align: center; display: block; position: relative;">
                                            &copy;  2017 School Man. All Rights Reserved.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <!-- Footer END -->
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <!-- Main box END -->
</body>
</html>
